table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color:#dddddd;
  }
  .header{
    text-align: center;
    color: white;
    background-color: blue;
    font-size: 20px;
  }
  th{
    background-color: blue;
    color: white;
  }